<%= link_to link, class: "bg-white rounded-lg shadow-md p-6 hover:shadow-lg transition-shadow duration-300" do %>
  <div class="flex items-center mb-4">
    <i class='bx <%= icon %> text-3xl text-indigo-600 mr-3'></i>
    <h3 class="text-xl font-semibold text-gray-800"><%= title %></h3>
  </div>
  <p class="text-gray-600"><%= description %></p>
<% end %>
